version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: reactive-mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: reactive-auth-db
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
